In [1]:
import findspark

findspark.init()

In [2]:
from pyspark.sql import SparkSession

# Cria uma instância de SparkSession, que é a entrada para usar o Spark
spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Iniciando com Spark") \
    .getOrCreate()

In [3]:
# Define uma lista de tuplas com dados de exemplo. Cada tupla contém um nome e uma idade.
data = [
    ('GISELLE PAULA GUIMARAES CASTRO', 15),
    ('ELAINE GARCIA DE OLIVEIRA', 22),
    ('JOAO CARLOS ABNER DE LOURDES', 43),
    ('MARTA ZELI FERREIRA', 24),
    ('LAUDENETE WIGGERS ROEDER', 51)
]

# Define uma lista com os nomes das colunas para o DataFrame
colNames = ['nome', 'idade']

# Cria um DataFrame Spark a partir dos dados fornecidos e das colunas especificadas
df = spark.createDataFrame(data, colNames)

# Exibe o conteúdo do DataFrame, sem truncar (cortar) os valores das colunas
df.show(truncate=False)

+------------------------------+-----+
|nome                          |idade|
+------------------------------+-----+
|GISELLE PAULA GUIMARAES CASTRO|15   |
|ELAINE GARCIA DE OLIVEIRA     |22   |
|JOAO CARLOS ABNER DE LOURDES  |43   |
|MARTA ZELI FERREIRA           |24   |
|LAUDENETE WIGGERS ROEDER      |51   |
+------------------------------+-----+

In [4]:
from pyspark.sql import functions as f

# Seleciona e transforma as colunas do DataFrame
df \
    .select(
        # Concatena o último nome e o primeiro nome, separados por ', '
        f.concat_ws(
            ', ', 
            f.substring_index('nome', ' ', -1),  # Extrai o último nome da coluna 'nome'
            f.substring_index('nome', ' ', 1)    # Extrai o primeiro nome da coluna 'nome'
        ).alias('ident'),  # Atribui o resultado concatenado a uma nova coluna chamada 'ident'
        'idade'  # Seleciona a coluna 'idade' original
    ) \
    .show(truncate=False)  # Exibe o DataFrame resultante sem truncar os valores das colunas

+-----------------+-----+
|ident            |idade|
+-----------------+-----+
|CASTRO, GISELLE  |15   |
|OLIVEIRA, ELAINE |22   |
|LOURDES, JOAO    |43   |
|FERREIRA, MARTA  |24   |
|ROEDER, LAUDENETE|51   |
+-----------------+-----+